name: Deploy Go API

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    env:
      GOOS: linux
      GOARCH: amd64

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Build binary
        run: |
          go build -o apigo ${{ secrets.GO_BUILD_PATH }}

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Upload binary
        run: |
          scp -P ${{ secrets.SSH_PORT }} apigo \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.TARGET_GO_DIR }}/apigo.tmp

      - name: Move & restart service
        run: |
          ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
          "sudo mv ${TARGET_GO_DIR}/apigo.tmp ${TARGET_GO_DIR}/myapp && \
           sudo chmod +x ${TARGET_GO_DIR}/myapp && \
           sudo systemctl restart ${{ secrets.GO_SERVICE }}"
